@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.about {
  position: relative;
  background-image: url("https://i.imgur.com/l6byRqH_d.webp?maxwidth=1520&fidelity=grand");
  background-color: orange;
  height: 70vh;
  width: 80vw;
  margin-left: 10%;
  margin-top: 15%;
  background-repeat: no-repeat;
}

.about-title{
  color: white;
  font-family: "fjalla one";
  padding: 20px;
  font-size: 40px;
}

.aboutIdea{
  color: white;
  /* font-family: "fjalla one"; */
  width: 600px;
  font-size: 22px;
  padding: 20px;
  margin-top: -30%;
}

.about_final_img{
  height: 300px;
  margin-left: 60%;
  margin-top: 5%;
}

@media screen and (max-width:400px){
  .about {
    position: relative;
    background-image: url("https://i.imgur.com/l6byRqH_d.webp?maxwidth=1520&fidelity=grand");
    background-color: orange;
    height: 105vh;
    width: 140vw;
    margin-left: 10%;
    margin-top: 15%;
    background-repeat: no-repeat;
    margin-top: 55%;
  }

  .about_final_img{
    height: 120px;
    margin-left: 67%;
  }

  .aboutIdea{
    width: 380px;
  }
}
