@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Kaisei+Decol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kaisei+Decol&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}


.navbar{
  display: flex;
  gap: 60px;
  margin-left: 22%;
  margin-top: -8%;
}

.form-container{
  height: 120vh;
  width: 40vw;
  margin: auto;
  border: 1px solid black;
  background: white;
  margin-top: 1%;
  color: white;
  border-radius: 40px;
}

label{
  padding: 15px;
  margin-left: 2%;
  font-weight: 600;
  color: black;
  margin-left: 5%;
  font-size: 15px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif; ;
}

.form-container p{
  margin-left: 8%;
  margin-top: 1%;
  font-size: 15px;
  color: orange;
}

input{
  width: 500px;
  height: 30px;
  padding: 5px;
  margin-left: 4%;
}

form{
  display: flex;
  flex-direction: column;
}

.submit{
  cursor: pointer;
  margin: auto;
  margin-top: 5%;
  width: 500px;
  height: 45px;
  color: white;
  border-radius: 15px;
  font-size: 25px;
  background: linear-gradient(#FE961D,#FF4D00);

}

.login{
  width: 240px;
  height: 40px;
  color: white;
  font-size: 20px;
  background : linear-gradient(#FE961D,#FF4D00);
  border-radius: 20px;
  border: 3px solid #FE961D,#FF4D00;
  cursor: pointer;
  font-family: "Fira Sans Extra Condensed";
}

.logout{
  width: 240px;
  height: 40px;
  color: white;
  font-size: 20px;
  background : linear-gradient(#FE961D,#FF4D00);
  border-radius: 20px;
  border: 3px solid #FE961D,#FF4D00;
  cursor: pointer;
  font-family: "Fira Sans Extra Condensed";
}

.title{
  font-size: 35px;
  font-family: "Grand Hotel";
}

.home-captions{
  color: white;
  font-family: "Fjalla One";
  font-size: 65px;
  padding: 50px;
  letter-spacing: 3;
  margin-top: 4%;
}

.home-caption-2{
  color: white;
  font-size: 25px;
  margin-left: 3%;
  margin-top: -2%;
}

.donateBtn{
  background: linear-gradient(#FE961D,#FF4D00);
  height: 60px;
  width: 200px;
  border-radius: 25px;
  color: white;
  font-family: "Fira Sans Extra condensed";
  font-size: 30px;
  margin-top: 3%;
  margin-left: 3%;
  cursor: pointer;
}

.receiveBtn{
  height: 60px;
  cursor: pointer;
  width: 200px;
  border-radius: 25px;
  font-size: 30px;
  font-family: "Fira Sans Extra Condensed";
  margin-left: 3%;
}

.receive-filter{
  margin-top: 2%;
  margin-left: 6%;
  width: 800px;
  height: 40px;
  font-size: 25px;
  background-image: url("https://i.imgur.com/9K39J05.jpeg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 1.5%;
  border-radius: 20px;
  padding-left: 50px;
}

#home_bg{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.success_bg{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.nav-options{
  font-family: "Calibri";
}

.image_submission{
  width: 30vw;
  background: white;
  height: 40vh;
  margin: auto;
  margin-top: 8%;
  border-radius: 25px;
  padding: 20px;
}

/* .pic_statement{
  font-family: "Open Sans";
  margin-left: 5%;
} */

.image_upload_success{
  margin-top: 5%;
  margin-left: 15%;
}

.image_submission h3{
  font-family: "Open Sans";
  margin-left: 5%; 
}

.contact_info{
  border-radius: 8px;
  width: 400px;
  margin-top: 5%;
}

.image_submission button{
  width: 350px;
  cursor: pointer;
  height: 35px;
  margin-top: 10%;
  margin-left: 6%;
  font-size: 23px;
  font-family: "Arial";
  color: white;
  background: linear-gradient(#FE961D,#FF4D00);
  border: none;
  border-radius: 7px;
}

#form_bg{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#formBG{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.image_input{
  margin-left: 10%;
  margin-top: 1%;
}

#receivebg{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.access{
  color: white;
  font-size: 35px;
  margin-top: 5%;
  margin-left: 3%;

}

.location{
  font-family: "Open Sans";
  margin-left: 10%;
  margin-top: 10%;
}

.form_logo{
  height: 70px;
  margin-left: 11%;
}

.form-container h1{
  font-family: "Grand Hotel";
  font-size: 35px;
}

.logo_title{
  margin-left: 34%;
}

.food_details{
  font-family: "Open Sans";
  margin-left: 9.5%;
}

.gratitude-quote{
  font-size: 30px;
  margin-left: 5%;
  margin-top: 3%;
  color: #FE961D;
}

.each-card-components{
  border: 1px solid black;
  width: 350px;
  border-radius: 20px;
  height: 330px;
  margin-left: 3%;
  background: white;  
}

.each-card-components p{
  padding: 10px;
}

.all-components{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: 5%;  
  margin-top: 5%;
}

.receive-btn{
  margin-left: 6%;
  margin-top: 10%;
  width: 300px;
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(#FE961D,#FF4D00);
  color: white;
  font-size: 25px;
  font-family: "fjalla one";
  cursor: pointer;
}

.quantity{
  font-family: "Open Sans";
  margin-left: 9%;
  font-weight: bolder;
  font-size: 20px;
}

.each-card-components p{
  margin-top: 2.5%;
}

/* .receive-page{
  background-color: honeydew;
} */  

/* .form-container{
  background-image: url("https://clipart-library.com/2023/grocery-food-cardboard-box-icon-isolated-white-vector-flat-illustration_623508-34.jpg");
  background-repeat: no-repeat;
  background-size: 350px;
  background-position: 107% 50%;


} */

.confirmation{
  margin-top: 19.1%;
}

.confirm_btn{
  margin-left: 30%;
  margin-top: 3%;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 25px;
  font-family: "Kaisei Decol";
  cursor: pointer;

}

.goback_btn{
  margin-left: 18%;
  margin-top: 3%;
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 25px;
  font-family: "Kaisei Decol";
  cursor: pointer;
}

.confirm_text{
  font-family: "Josefin sans";
  font-size: 50px;
  color: #FE961D;
  margin-left: 28.5%;
}

.confirm_bottom_page{
  height: 51.2vh;
  background-color: #FE961D;
}

.fillables{
  /* border-top-left-radius: 10px; */
  /* border-bottom-right-radius: 10px; */
  border-radius: 10px;
  padding-left: 15px;
  height: 35px;
  border: 1px solid #888;
  margin-left: 8%;
}

.logo_postreceive{
  display: flex;
  margin-left: 80%;
  margin-top: 11%;
}

.title_postreceive{
  font-size: 35px;
  font-family: "Grand Hotel";
  margin-top: 8%;
}

@media screen and (max-width:400px) and (min-width:280px) {
  #home_bg{
    width: 100vw;  
    height: 100vw;
  }

  .home-captions{
    font-size: 30px;
    margin-left: -10%;
    margin-top: 5%;
  }

  .home-caption-2{
    font-size: 14px;
    /* margin-left: 8%; */
    margin-top: -10%;
  }

  .receive-filter{
    width: 250px;
    height: 30px;
  }

  .receive-filter::placeholder{
    font-size: 20px;
  }

  #receivebg{
    width: 100%;
    height: 100%;
  }

  .each-card-components h2{
    font-size: 20px;
  }

  .all-components{
    margin-left: -1.6%;
  }

  .receive-btn{
    width: 220px;
  }

  .access{
    font-size: 15px;
  }

  .donateBtn{
    width: 80px;
    font-size: 20px;
    margin-left: 5%;
    height: 33px;
  }

  .receiveBtn{
    width: 80px;
    font-size: 20px;
    margin-left: 5%;
    height: 33px;
  }

  .login{
    font-size: 15px;
    width: 300px;
    height: 30px;
    margin-left: 5%;
    border-radius: 12px;
  }

  .logout{
    font-size: 10px;
    width: 300px;
    height: 30px;
    margin-left: 5%;
    border-radius: 12px;
  }

  

}