@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');

*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

body{
  background-color: #C3FFED;
  font-family: "hepta slab";
}

.logo{
  height: 200px;
}

.navbar{
  display: flex;
  gap: 60px;
  margin-left: 22%;
  margin-top: -8%;
}

.caption{
  height: 300px;
  margin-left: 38%;
  margin-top: -10%;
}

.baglogo{
  margin-top: -4%;
  margin-left: 25%;
}
